@media screen and (min-width: 768px) and (max-width: 992px){

	.button{
	  padding:10px 10px;
	}
	.button img{
		width: 100%;
	}

	/*FIN DE LLAVE PRINCIPAL*/

	.menu-li{
		width:40%;
		display:inline-block;
		
	}
	html{
		padding:0 10px;
	}
}


@media screen and (min-width: 768px) and (max-width: 992px) and(orientation:portrait){

}
