@media screen and (max-width: 767px){


	.button{
	  padding:10px 10px;
	}
	.button img{
		width: 100%;
	}

	.voucher {
    padding: 3%;
	}

	.redes-sociales{
		padding:15px;
	}

	.form_buttons button{
		width:45% !important;
	}

	.form_mail .box_select{
		padding: 0px 0 6px 4px !important;
	}
	.inner-promo-section p {
	    padding-left: 0;
	}
	.menu ul li:first-child{
		border-left:1px solid white;
	}
	.menu ul{
		width:100%;
		text-align:center;
	}
	.menu-li a p{
		padding:10px 0;
	}
	.menu-li{
		width:40%;
		display:inline-block;
	}
	html{
		padding:0 10px;
	}
<<<<<<< HEAD
	
	.img-footer{
		text-align:center;
		padding:0;
		margin:0;
	}
	.footer .img-footer{
		padding-left:0;
	}
	.form_buttons{
		text-align:center;
	}
	
	.box-icon{
		padding:10px 3px;
	}
	.box-icon > img{
		width:100%;
	}
	.title-serv .triangle{
		padding-top:0 !important;
	}
	.title-serv .triangle .card-logo-1{
		border-width:40px 60px 0 0;
		margin-top:-1px;
	}
	
	.nav2-item{
		text-align:center;
		
	}
	.card p{
		padding-left:0;
	}
	
	.container-espacios .inner-box-especial, .container-nuevo-pasaporte .inner-box-especial{
		right:initial;
		max-width:90%;
	}
	.container-sub > div{
		min-height:auto;
	}
	.container-redmk .marco-img{
		height:300px !important;
	}
	.container-terminal .marco-img{
		background-position:top;
	}
	.footer .img-footer{
		padding-bottom:10px;
	}
=======

	.container-espacios .inner-box-especial, .container-soluciones .inner-box-especial{

	    right: 15px;
	}

	.inner-card-section {

    padding: 15px 15px;
}

.footer {
    padding: 10px 0px;
}

.footer .img-footer {
    padding-left: 5%;
}

>>>>>>> origin/master
/*CIERRE DE LLAVES PRINCIPALES*/
}


@media screen and (max-width: 767px) and (orientation:landscape){


/*DISTRIBUCION DE COLUMNAS*/
	.col-lan-xs-3{
			width: 25%;
	}

	.col-lan-xs-6{
			width: 50%;
	}

	.col-lan-xs-4{
			width: 33%;
	}




}
